.roundedButtonSolid{
    height: 35px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.socialBtn{
    height: 35px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.googleSocialBtn{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px auto;
}
.facebookSocialBtn{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px auto;
}

.btnText{
 margin: auto;
 color: white;
}

.socialBtnText{
    margin: auto 10px;
    color: black;
}