.roundedButtonSolidYellow{
    height: 35px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 5px;
}

.roundedButtonOutlineYellow{
    height: 35px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid;
    background-color: transparent;
    border-radius: 5px;
}




.btnTextYellow{
 margin: auto;
 color: white;
}

.btnTextOutlinedYellow{
    margin: auto;
 color: rgb(61, 61, 61);
}