.dashboard{
    padding: 5%;
}

.dashboard-heading{
    font-size: 25px;
}



  .taskboard{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 10px 5px;
    overflow-x: scroll;
    width: 100%;
    margin: 10px 0;
  }

  .taskboard::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  .taskboard {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

  .employees{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }